*{
	padding: 0;
	margin: 0;
}

body{
	background-color: lightgrey;

}

a:visited, a:link, a:active{
	text-decoration: none;
	color:hsl(230, 98%, 80%);
	font-family: 'Oswald', sans-serif;

}
a:hover{
	text-decoration: underline;
	text-decoration: color: hsl(230, 98%, 80%);
	color: hsl(230, 98%, 80%);
	font-family: 'Oswald', sans-serif;
} 

.box-1{
	font-family: 'Oswald', sans-serif;
	font-size: 90px;
	text-align: center;
	margin-top: 10vh;
}
.column-1
{
	background-color: black;
	margin-left: 5vh;
	width: 100vh;
	display: inline-block;
}
#pic-1{
	width: 80vh;
	margin-left: 5vh;
	height: 400px;
}
#pic-2{
	width: 80vh;
	margin-left: 5vh;
	height: 400px;
}
.column-2
{
	background-color: white;
	margin-left: -1vh;
	width: 100vh;
	display: inline-block;
	content: center;
}
#pic-3{
	width: 80vh;
	margin-left: 10vh;
	height: 400px;
}
#pic-4{
	width: 80vh;
	margin-left: 10vh;
	height: 400px;
}
.column-1:hover{
	background-color: white;
	transition-delay: .3s;
}
.column-2:hover{
	background-color: black;
	transition-delay: .3s;
}
/*.column-3
{
	background-color: white;
	margin-left: -1vh;
	width: 100vh;
	display: inline-block;
	content: center;
}
#pic-5{
	width: 80vh;
	margin-left: 10vh;
	height: 400px;
}
#pic-6{
	width: 80vh;
	margin-left: 10vh;
	height: 400px;
}*/