*{
	padding: 0;
	margin: 0;
}

body{
	background-color: hsl(50, 97%, 80%);
}

a:visited, a:link, a:active{
	text-decoration: none
	color:hsl(230, 98%, 80%);
	font-family: 'Oswald', sans-serif;

}
a:hover{
	text-decoration: underline;
	text-decoration: color: hsl(230, 98%, 80%);
	font-family: 'Oswald', sans-serif;
}
.box-1{
	font-family: 'Oswald', sans-serif;
	font-size: 90px;
	text-align: center;
}
.box-2{
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	text-align: left;
}
.box-3{
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	text-align: left;
}