*{
	padding: 0;
	margin: 0;
}

body{
	background-color: hsl(50, 97%, 80%);
	width: 100%;
	height: 100%;
}
.box-1{
	align-content: left;
	margin-left: 1vw;
	margin-top: 2vh;	
}
#pic-1{
	height: 400px;
	width: 250px;
}
#pic-2{
	height: 400px;
	width: 300px;
}
#pic-3{
	height: 400px;
	width: 200px;
}
#pic-4{
	height: 400px;
	width: 200px;
}
#pic-5{
	height: 400px;
	width: 300px;
}
#pic-6{
	height: 400px;
	width: 300px;
}
#pic-7{
	height: 400px;
	width: 300px;
}
#pic-8{
	height: 400px;
	width: 350px;
}
#pic-9{
	height: 400px;
	width: 400px;
}
#pic-10{
	height: 400px;
	width: 400px;
}
#pic-11{
	height: 400px;
	width: 300px;
}
#pic-12{
	height: 400px;
	width: 450px;
}
#pic-13{
	height: 400px;
	width: 400px;
}
#pic-14{
	height: 400px;
	width: 500px;
}